body{
  background-color: #fffdf4;
}
h1{
  font-family: 'Pinyon Script', cursive;
}
*{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
.bigcursive{
  font-size: 6rem;
  color: #D4AF27;
  margin: 1rem auto;
}
.btn{
  display: inline-block;
  padding: 1rem 3rem;
  background-color: #D4AF27;
  color: #fff9d6;
  font-size: 2rem;
  margin-bottom: 4rem;
  border: 2px solid #fff9d6;
  box-shadow: 0 2px 4px #303030;
  border-radius: 6px;
  transition: transform 0.4s ease-in-out;
}
.btn:hover{
  box-shadow: 0 2px 6px #303030;
  transform: scale(1.07,1.07);

}
#overlay{
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2;
  display: none;
}
.form-container{
  background-color: #fffdf4;
  width: 300px;
  margin: 5rem auto;
  padding: 3rem;
}
input{
  border: 2px solid #fff9d6;
  line-height: 1.5rem;
  display: block;
  margin: 0 auto;
}
input:focus{
  border: 2px solid #fff9d6;
  outline: none;
  box-shadow: 0 2px 6px #D4AF27;
}
#btn2{
  padding: 0.5rem 1.5rem;
  margin: 2rem auto;
  font-size: 1.25rem;
}
.form-container{
  position: relative;
}
.form-container span{
  position: absolute;
  top: 5px;
  right: 5px;
}
